---
import BaseHead from "../components/BaseHead.astro";
import Body from "../components/Body.astro";
import Footer from "../components/Footer.astro";
import ReturnButton from "../components/ReturnButton";
import ThemeToggle from "../components/ThemeToggle";
import HeaderLogo from "../components/HeaderLogo.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    </style>
  </head>

  <HeaderLogo />
  <Body>
    <nav class="my-5 px-5 flex justify-between">
      <div>
        <ReturnButton client:only="react" />
      </div>
      <div>
        <ThemeToggle client:only="react" />
      </div>
    </nav>
    <main>
      <article>
        {
          heroImage && (
            <img
              class="inline p-5 rounded-3xl"
              src={heroImage}
              alt="titleImage"
            />
          )
        }
        <h1 class="title">{title}</h1>
        {pubDate && <time>{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </Body>
</html>
